<!-- massive-devops-lint -->
# 🧹 Lint & Type Check Report

**{{ status_msg }}**

---

{% if ruff and ruff|length > 0 %}
<details>
<summary><img src="ithub.com/astral-sh/ruff/blob/main/docs/assets/ruff-favicon.png" alt="ruff" height="20" /> Ruff findings ({{ ruff_count }})</summary>

| File | Line | Rule | Message |
|:-----|-----:|:-----|:--------|
{% for issue in ruff -%}
| `{{ issue.filename }}` | {{ issue.location.row }} | {{ issue.code }} | {{ issue.message }} |
{% endfor %}
</details>
{% endif %}

{% if mypy and mypy|length > 0 %}
<details>
<summary><img src="https://github.com/python/mypy/blob/master/docs/source/mypy_light.svg" alt="mypy" height="20" /> MyPy findings ({{ mypy_count }})</summary>

```text
{% for line in mypy -%}
{{ line }}
{% endfor %}
```
</details>
{% endif %}
